{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    Hi

    <div class="mb-4">
        <a href="{% url 'add' %}">
            <button type="button" class="btn btn-primary">Add</button>
        </a>
    </div>

    {% if formset.forms %}
        {# TODO: handle formset #}
    {% else %}
        <div class="alert alert-primary" role="alert">
            No cars registered yet, use the button above to add
        </div>
    {% endif %}

{% endblock content %}
